# Files
*.gdoc
*.pdf
*.DS_Store
*.vtk
*.gz
log.*

cellLevel
cellZones
faces
faceZones
level0Edge
neighbour
owner
pointLevel
points
pointZones
surfaceIndex

# Folders
save/
sets/
VTK/

# ******************************************************************* 

# tutorials/extend-4.0
# steadyCompressibleFoam
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/100
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/200
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/300
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/400
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/500
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/600
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/700
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/800
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/900
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/1000
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/1100
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/1200
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/1300
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/1400
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/1500
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/1600
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/1700
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/1800
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/1900
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/2bump/2000
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/50
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/100
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/150
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/200
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/250
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/300
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/350
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/400
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/450
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/500
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/550
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/600
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/650
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/700
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/750
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/800
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/850
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/900
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/950
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1000
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1050
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1100
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1150
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1200
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1250
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1300
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1350
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1400
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1450
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1500
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1550
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1600
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1650
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1700
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1750
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1800
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1850
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1900
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/1950
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2000
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2050
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2100
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2150
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2200
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2250
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2300
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2350
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2400
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2450
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2500
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2550
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2600
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2650
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2700
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2750
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2800
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2850
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2900
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/2950
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/3000

# steadyCompressibleMRFFoam
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/25
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/50
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/75
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/100
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/125
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/150
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/175
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/200
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/225
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/250
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/275
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/300
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/325
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/350
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/375
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/400
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/450
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/425
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/475
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/500
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/525
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/550
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/575
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/625
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/650
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/675
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/700
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/725
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/750
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/775
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/800
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/825
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/850
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/875
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/900
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/925
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/950
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/975
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/axialTurbineMixingPlane/1000
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/50
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/100
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/150
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/200
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/250
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/300
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/350
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/400
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/450
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/500
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/550
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/600
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/650
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/700
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/750
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/800
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/850
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/900
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/950
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1000
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1050
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1100
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1150
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1200
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1250
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1300
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1350
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1400
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1450
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1500
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1550
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1600
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1650
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1700
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1750
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1800
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1850
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1900
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/1950
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2000
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2050
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2100
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2150
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2200
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2250
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2300
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2350
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2400
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2450
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2500
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2550
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2600
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2650
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2700
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2750
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2800
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2850
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2900
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/2950
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3000
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3050
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3100
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3150
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3200
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3250
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3300
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3350
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3400
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3450
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3500
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3550
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3600
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3650
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3700
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3750
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3800
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3850
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3900
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/3950
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4000
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4050
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4100
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4150
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4200
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4250
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4300
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4350
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4400
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4450
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4500
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4550
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4600
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4650
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4700
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4750
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4800
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4850
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4900
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/4950
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/bentRotorStator/5000
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/200
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/400
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/600
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/800
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/1000
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/1200
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/1400
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/1600
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/1800
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/2000
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/2200
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/2400
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/2600
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/2800
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/3000
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/3200
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/3400
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/3600
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/3800
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/4000
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/4200
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/4400
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/4600
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/4800
tutorials/bladeMachines/extend-4.0/steadyCompressibleMRFFoam/simpleRotorStator/5000

# steadyCompressibleSRFFoam
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/bentBlade/200
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/bentBlade/400
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/bentBlade/600
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/bentBlade/800
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/bentBlade/1000
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/bentBlade/1200
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/bentBlade/1400
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/bentBlade/1600
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/bentBlade/1800
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/bentBlade/2000
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/simpleBlade/200
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/simpleBlade/400
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/simpleBlade/600
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/simpleBlade/800
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/simpleBlade/1000
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/simpleBlade/1200
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/simpleBlade/1400
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/simpleBlade/1600
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/simpleBlade/1800
tutorials/bladeMachines/extend-4.0/steadyCompressibleSRFFoam/simpleBlade/2000

# steadyUniversalMRFFoam
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineGgiJump/20
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineGgiJump/40
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineGgiJump/60
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineGgiJump/80
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineGgiJump/100
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineGgiJump/120
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineGgiJump/140
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineGgiJump/160
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineGgiJump/180
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineGgiJump/200
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineMixingPlane/20
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineMixingPlane/40
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineMixingPlane/60
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineMixingPlane/80
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineMixingPlane/100
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineMixingPlane/120
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineMixingPlane/140
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineMixingPlane/160
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineMixingPlane/180
tutorials/bladeMachines/extend-4.0/steadyUniversalMRFFoam/axialTurbineMixingPlane/200

# DensityBasedTurbo
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/0.1
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/0.2
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/0.3
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/0.4
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/0.5
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/0.6
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/0.7
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/0.8
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/0.9
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/1
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/1.1
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/1.2
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/1.3
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/1.4
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/1.5
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/1.6
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/1.7
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/1.8
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/1.9
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/2
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/2.1
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/2.2
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/2.3
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/2.4
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/2.5
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/2.6
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/2.7
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/2.8
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/2.9
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/3
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/3.1
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/3.2
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/3.3
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/3.4
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/3.5
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/3.6
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/3.7
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/3.8
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/3.9
tutorials/bladeMachines/DensityBasedTurbo/forwardStep/4

tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.01
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.001
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.02
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.002
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.003
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.004
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.005
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.006
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.007
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.008
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.009
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.011
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.012
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.013
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.014
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.015
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.016
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.017
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.018
tutorials/bladeMachines/DensityBasedTurbo/bumpMinf0675/0.019
tutorials/bladeMachines/extend-4.0/steadyCompressibleFoam/transonicBump/constant/polyMesh/points.gz
